# Stop searching parent directories for additional settings.
root = true

[*]
# Encode text files as UTF-8.
charset = utf-8

# Indent files with tabs displayed as two columns.
indent_style = tab
tab_width = 2

# Use Unix line endings.
end_of_line = lf

# End text files with a newline.
insert_final_newline = true

# Remove trailing whitespace.
trim_trailing_whitespace = true

[*.{yml,yaml,json}]
# Indent structured data with two spaces.
indent_style = space
indent_size = 2